// Your variable overrides
// $body-bg: #000;
// $body-color: #111;

// $primary: #fff

// scrollbar

@import 'primeicons/primeicons.css';

$scrollbar-color: grey;
$scrollbar-background: rgba(0, 0, 0, 0);
/* Import Lato font */
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-color $scrollbar-background;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: $scrollbar-background;
}

*::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 20px;
    border: 3px solid $scrollbar-background;
}

* {
    
}

body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}